/Quorum3Plugins/RobotPlugin/LegoPlugins/nbproject/private/
/IDE/Sodbeans/nbproject/private/
/IDE/Sodbeans/build/
/Quorum3Plugins/RobotPlugin/LegoPlugins/dist/
/Quorum3Plugins/RobotPlugin/LegoPlugins/build/
/Quorum3/Build/
/Quorum3/Run/
/Quorum3/Library/Tests/TypeCheckerGenerated/
.DS_Store
/Quorum3Plugins/GamePlugin/JavaGame/build/
/Quorum3Plugins/GamePlugin/JavaGame/dist/
/IDE/Sodbeans/Quorum/nbproject/private/
/Quorum3Plugins/GamePlugin/Native/iOS/GameEngineCPlugins/build/
/Quorum3Plugins/GamePlugin/Native/iOS/GameEngineCPlugins/dist/
/Quorum3Plugins/ParserPlugin/nbproject/private/
/Quorum3Plugins/FilePlugin/nbproject/private/
/Quorum3Plugins/SoundPlugin/nbproject/private/
/Quorum3Plugins/SoundPlugin/build/
/Quorum3Plugins/SoundPlugin/dist/