/Quorum3Plugins/RobotPlugin/LegoPlugins/nbproject/private/
/IDE/Sodbeans/nbproject/private/
/IDE/Sodbeans/build/
/Quorum3Plugins/RobotPlugin/LegoPlugins/dist/
/Quorum3Plugins/RobotPlugin/LegoPlugins/build/
/Quorum3/Build/
/Quorum3/Run/
/Quorum3/Library/Tests/TypeCheckerGenerated/
.DS_Store
/Quorum3Plugins/ArrayPlugin/nbproject/private/
/Quorum3Plugins/MathPlugin/nbproject/private/
/Quorum3Plugins/MathPlugin/build/
/Quorum3Plugins/MathPlugin/dist/
/Quorum3Plugins/TextPlugin/nbproject/private/
/Quorum3Plugins/MusicPlugin/nbproject/private/
/Quorum3Plugins/SystemPlugin/nbproject/private/
/Quorum3Plugins/SystemPlugin/build/
/Quorum3Plugins/SystemPlugin/dist/
/Quorum3Plugins/FilePlugin/nbproject/private/