/Quorum3Plugins/RobotPlugin/LegoPlugins/nbproject/private/
/IDE/Sodbeans/nbproject/private/
/IDE/Sodbeans/build/
/Quorum3Plugins/RobotPlugin/LegoPlugins/dist/
/Quorum3Plugins/RobotPlugin/LegoPlugins/build/
/Quorum3/Build/
/Quorum3/Run/
/Quorum3/Library/Tests/TypeCheckerGenerated/
.DS_Store
/Quorum3Plugins/ArrayPlugin/nbproject/private/
/Quorum3Plugins/MathPlugin/nbproject/private/
/Quorum3Plugins/MathPlugin/build/
/Quorum3Plugins/MathPlugin/dist/
/Quorum3Plugins/TextPlugin/nbproject/private/
/Quorum3Plugins/MusicPlugin/nbproject/private/
/Quorum3Plugins/SystemPlugin/nbproject/private/
/Quorum3Plugins/SystemPlugin/build/
/Quorum3Plugins/SystemPlugin/dist/
/Quorum3Plugins/FilePlugin/nbproject/private/
/JavaApplication5/nbproject/private/
/JavaApplication5/build/
/Quorum3Plugins/GamePlugin/JavaGame/nbproject/private/
/Quorum3Plugins/FilePlugin/dist/
/Quorum3Plugins/GamePlugin/JavaGame/build/
/Quorum3Plugins/GamePlugin/JavaGame/dist/
/Quorum3Plugins/SoundPlugin/SoundPlugin/nbproject/private/
/Quorum3Plugins/SoundPlugin/SoundPlugin/dist/
/Quorum3Plugins/SoundPlugin/SoundPlugin/build/
/Quorum3Plugins/TextPlugin/dist/
/Quorum3Plugins/TextPlugin/build/
/Quorum3Plugins/GamePlugin/Native/Mac/GameEngineCPlugins/build/
/Quorum3Plugins/GamePlugin/Native/Mac/GameEngineCPlugins/dist/
/Quorum3Plugins/Legam Plugins/nbproject/private/
/IDE/Sodbeans/Quorum/nbproject/private/
/Quorum3Plugins/NetworkPlugin/nbproject/private/
/Quorum3Plugins/NetworkPlugin/build/
/Quorum3Plugins/NetworkPlugin/dist/
/Quorum3Plugins/ArrayPlugin/build/
/Quorum3Plugins/ArrayPlugin/dist/
/Quorum3Plugins/ParserPlugin/build/
/Quorum3Plugins/ParserPlugin/dist/
/Quorum3Plugins/AccessibilityPlugin/Java/AccessibilityManager/build/
/Quorum3Plugins/AccessibilityPlugin/Java/AccessibilityManager/dist/
/IDE/Sodbeans/Accessibility/build
/Plugins/FilePlugin/nbproject/private/
/Plugins/FilePlugin/build/
/Plugins/FilePlugin/dist/
/Plugins/GamePlugin/JavaGame/nbproject/private/
/Plugins/GamePlugin/JavaGame/dist/
/Plugins/GamePlugin/JavaGame/build/
/Plugins/AccessibilityPlugin/Native/Windows/build
/Plugins/AccessibilityPlugin/Native/Windows/Build
/Plugins/TextPlugin/nbproject/private/
/Plugins/TextPlugin/build/
/Plugins/TextPlugin/dist/
/Plugins/NetworkPlugin/nbproject/private/
/Plugins/SystemPlugin/nbproject/private/
/Plugins/SystemPlugin/build/
/Plugins/SystemPlugin/dist/
/Natives/Build/
/Natives/Deploy/
Plugins/QuorumPlugins/.gradle/
Plugins/QuorumPlugins/build/
hs_err_pid*
!gradle-wrapper.jar
Plugins/QuorumPlugins/.idea/workspace.xml
Plugins/QuorumPlugins/.idea/tasks.xml
Plugins/QuorumPlugins/.idea/gradle.xml
Plugins/QuorumPlugins/.idea/libraries
Plugins/QuorumPlugins/.idea/modules.xml
Plugins/QuorumPlugins/.idea/gradle.xml
Plugins/QuorumPlugins/natives/build/
