/* 
    Document   : style
    Created on : May 23, 2012, 4:18:53 PM
    Author     : astefik
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

p
{
    text-align:justify;
} 

pre.code {
    background: #f7f7f7;
    border: 1px solid #d7d7d7;
    margin: 1em 1.75em;
    padding: .25em;
    overflow: auto;
}

div.action {
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-color:#A2B5CD;
    border-width:1px;
}

h1.page_title {
    text-decoration:underline;
}

h2.action_or_variables_header {
    
}

h3.action_title {
    border-top: solid;
    border-bottom: solid;
    border-color:#A2B5CD;
    border-width:1px;
    font-size:120%;
    color: white;
    background-color: #A2B5CD;
    padding-top: 4px;
    padding-left: 2px;
}

div.index_package {
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-color:#A2B5CD;
    border-width:1px;
}

ul.quorum_header {
    list-style-type:none;
    margin:0;
    padding:0;
}

li.quorum_header_start {
    display:inline;
    margin: 0;
}

li.quorum_header {
    display:inline;
    margin: 1em;
    text-decoration:underline;
}

a.quorum_header {
    color: white;
    text-decoration:none;
}

div.quorum_header {
    background-color: #6E7B8B;
    margin-left: -0.5em;
    margin-top: -0.5em;
    padding-left:0.5em;
    text-decoration:none;
    color: white;
    font-family: fantasy;
    font-size: 1.5em;
    width:100%;
    height:1.4em;
    overflow:hidden;
}

li.package_standard {
    padding-top: 1px;
    padding-bottom: 1px;
}

li.package_alternate {
    background: #F5F5F5;
    padding-top: 1px;
    padding-bottom: 1px;
}

ul.packages {
    list-style-type: none;
    font-size:100%;
    margin: 0px;
    padding: 0px;
    padding-left: 6px;
}

ul.variables {
    list-style-type: none;
    font-size:100%;
    margin: 0px;
    padding: 0px;
    padding-left: 6px;
    border: solid;
    border-color:#A2B5CD;
    border-width:1px;
}

ul.parent_variables {
    list-style-type: none;
    font-size:100%;
    margin: 0px;
    padding: 0px;
    padding-left: 6px;
    border: solid;
    border-color:#A2B5CD;
    border-width:1px;
}

ul.parameters {
    list-style-type: none;
    font-size:100%;
    padding-top: 0px;
    margin-top: 0px;
}

h2.index_package_title {
    border-top: solid;
    border-bottom: solid;
    border-color:#A2B5CD;
    border-width:1px;
    font-size:120%;
    color: white;
    background-color: #A2B5CD;
    padding-top: 4px;
    padding-left: 2px;
}

#footer {
}