/* 
    Document   : style
    Created on : May 23, 2012, 4:18:53 PM
    Author     : astefik
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

p
{
text-align:justify;
} 

pre.code {
 background: #f7f7f7;
 border: 1px solid #d7d7d7;
 margin: 1em 1.75em;
 padding: .25em;
 overflow: auto;
}

div.action {
    border-style:solid;
    border-color:#057D9F;
    border-width:1px;
}

div.action_title {
    border-bottom:solid;
    border-color:#057D9F;
    border-width:1px;
}

div.index_package {
}

h2.index_package_title {
    border-bottom:solid;
    border-color:#057D9F;
    border-width:1px;
}