body {
  background: url(http://localhost/static/css/../img/white_tiles.png);
}
* {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  color: #0088cc;
  -webkit-transition: color 0.1s ease-in;
  -moz-transition: color 0.1s ease-in;
  -o-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
}
a:hover {
  color: #002233;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.navbar-inner .navbar-container {
  width: 1190px;
  height: 80px;
  margin: 0 auto;
  position: relative;
}
.navbar-inner .navbar-container .brand {
  font-family: "Helvetica Neue", Helvetica;
  font-size: 48px;
  line-height: 60px;
}
.navbar-inner .navbar-container .brand:hover {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.navbar-inner .navbar-container .nav {
  margin: 40px 0 0 auto;
}
.navbar-inner .navbar-container .user-controls {
  position: absolute;
  top: 0;
  right: 0;
  height: 80px;
}
.navbar-inner .navbar-container .user-controls .signin-signup-message {
  display: block;
  margin-top: 35px;
}
.navbar-inner .navbar-container .user-controls .signin-signup-message em {
  display: inline-block;
  margin: 0 5px;
  font-size: 16px;
  font-style: normal;
  color: #ffffff;
  vertical-align: middle;
}
.hero-unit {
  padding: 5px;
  border-bottom: 1px solid #036690;
  background: #048ac2;
  background: -moz-linear-gradient(top, #048ac2 0%, #049cdb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #048ac2), color-stop(100%, #049cdb));
  background: -webkit-linear-gradient(top, #048ac2 0%, #049cdb 100%);
  background: -o-linear-gradient(top, #048ac2 0%, #049cdb 100%);
  background: -ms-linear-gradient(top, #048ac2 0%, #049cdb 100%);
  background: linear-gradient(to bottom, #048ac2 0%, #049cdb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#048ac2', endColorstr='#049cdb', GradientType=0);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  box-shadow: 0 3px 10px #999999;
  -webkit-box-shadow: 0 3px 10px #999999;
  -moz-box-shadow: 0 3px 10px #999999;
}
.hero-unit .hero-unit-container {
  width: 1190px;
  margin: 0 auto;
}
.hero-unit .hero-unit-container h1 {
  color: #eeeeee;
  font-weight: 300;
  margin-bottom: 15px;
  text-shadow: 2px 2px 0 #036690;
  line-height: 1;
}
.hero-unit .hero-unit-container p {
  color: #deedee;
  text-shadow: 1px 1px 10px #025577;
}
.hero-unit .hero-unit-container a {
  color: #ade6fe;
  text-decoration: underline;
}
.hero-unit .hero-unit-container a:hover {
  text-decoration: none;
}
#wrapper {
  display: block;
  zoom: 1;
  min-width: 1190px;
  margin: 80px 0 0 0;
}
#wrapper::after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
.content {
  width: 1190px;
  margin: 0 auto;
  padding-top: 20px;
}
.content-wrapper {
  float: left;
  width: 100%;
}
.content-wrapper .content {
  margin-left: 380px;
  padding: 10px 0 0 0;
}
#footer {
  width: 100%;
  text-align: center;
}
#footer small {
  display: block;
}
#modal-registration input {
  min-height: 30px;
}
#modal-registration .text-error {
  display: none;
}
#modal-registration .auth-with-google {
  float: right;
  margin: 0 20px 20px 0;
  width: 150px;
}
#modal-registration h4 {
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
}
#modal-registration h4.half-size {
  text-align: left;
  width: 300px;
  float: left;
  margin: 10px 0 0 20px;
}
.search-box-large {
  width: 1190px;
  margin: 20px auto 0;
}
.search-box-large input.search-query {
  height: 50px;
  width: 600px;
  font-size: 23px;
  padding: 0 15px;
  letter-spacing: 2px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -ms-border-bottom-right-radius: 0px;
  -o-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  -ms-border-top-right-radius: 0px;
  -o-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}
.search-box-large button.search-submit.btn {
  height: 50px;
  width: 100px;
  font-size: 18px;
}
.search-box-large .input-append {
  width: 700px;
  margin: 0 auto;
}
.search-box-large .typeahead {
  width: 600px;
}
.index-grid {
  width: 1190px;
  margin: 0 auto;
  list-style-type: none;
  display: block;
  zoom: 1;
}
.index-grid::after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
.index-grid .grid-item-spacer {
  width: 282.5px;
  height: 220px;
  float: left;
  margin: 0 7.5px 30px;
}
.index-grid .grid-item {
  position: relative;
  width: 282.5px;
  height: 220px;
  float: left;
  margin: 0 7.5px 30px;
  background: #eeeeee;
  opacity: 0.65;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  filter: alpha(opacity=65);
  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
  box-shadow: 0 1px 4px #333333;
  -webkit-box-shadow: 0 1px 4px #333333;
  -moz-box-shadow: 0 1px 4px #333333;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.index-grid .grid-item:hover {
  background: #ffffff;
  background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #eeeeee 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #eeeeee 100%);
  background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #eeeeee 100%);
  background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #eeeeee 100%);
  background: radial-gradient(ellipse at center, #ffffff 0%, #eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=1);
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.index-grid .grid-item h2 {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
.index-grid .grid-item h2 a {
  color: #333333;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
.index-grid .grid-item h2 a:hover {
  text-decoration: none;
}
.index-grid .grid-item .grid-sublist {
  display: none;
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 0;
  list-style-type: none;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.index-grid .grid-item .grid-sublist .sublist-item {
  width: 100%;
  cursor: pointer;
  width: 96%;
  padding: 2%;
}
.index-grid .grid-item .grid-sublist .sublist-item a {
  color: #0088cc;
  text-decoration: none;
  height: 100%;
}
.index-grid .grid-item .grid-sublist .sublist-item a:hover {
  text-decoration: underline;
}
.index-grid .grid-item .grid-sublist .sublist-item:last-child {
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.index-grid .grid-item .grid-sublist .sublist-item:hover {
  background-color: #c8c8c8;
  background-color: rgba(200, 200, 200, 0.3);
  color: #000;
}
.index-grid .grid-item .grid-sublist .sublist-item:hover:last-child {
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.index-grid .grid-item i {
  display: block;
  width: 200px;
  height: 130px;
  margin: 90px auto 0;
  background-position: top center;
  background-repeat: no-repeat;
}
.index-grid .grid-item.grid-item-compute i {
  background-image: url(http://localhost/static/css/../img/gridicons/compute.png);
}
.index-grid .grid-item.grid-item-containers i {
  background-image: url(http://localhost/static/css/../img/gridicons/containers.png);
}
.index-grid .grid-item.grid-item-language i {
  background-image: url(http://localhost/static/css/../img/gridicons/language.png);
}
.index-grid .grid-item.grid-item-robots i {
  background-image: url(http://localhost/static/css/../img/gridicons/robots.png);
}
.index-grid .grid-item.grid-item-accessibility i {
  background-image: url(http://localhost/static/css/../img/gridicons/accessibility.png);
}
.index-grid .grid-item.grid-item-data i {
  background-image: url(http://localhost/static/css/../img/gridicons/data.png);
}
.index-grid .grid-item.grid-item-sound i {
  background-image: url(http://localhost/static/css/../img/gridicons/sound.png);
}
.index-grid .grid-item.grid-item-system i {
  background-image: url(http://localhost/static/css/../img/gridicons/system.png);
}

.learn-index-grid {
  width: 1190px;
  margin: 0 auto;
  list-style-type: none;
  display: block;
  zoom: 1;
}
.learn-index-grid::after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
.learn-index-grid .learn-grid-item-spacer {
  width: 282.5px;
  height: 220px;
  float: left;
  margin: 0 7.5px 30px;
}
.learn-index-grid .learn-grid-item {
  position: relative;
  width: 282.5px;
  height: 220px;
  float: left;
  margin: 0 7.5px 30px;
  background: #eeeeee;
  opacity: 0.65;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  filter: alpha(opacity=65);
  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
  box-shadow: 0 1px 4px #333333;
  -webkit-box-shadow: 0 1px 4px #333333;
  -moz-box-shadow: 0 1px 4px #333333;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.learn-index-grid .learn-grid-item:hover {
  background: #ffffff;
  background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #eeeeee 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #eeeeee 100%);
  background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #eeeeee 100%);
  background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #eeeeee 100%);
  background: radial-gradient(ellipse at center, #ffffff 0%, #eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=1);
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.learn-index-grid .learn-grid-item h2 {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
.learn-index-grid .learn-grid-item h2 a {
  color: #333333;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
.learn-index-grid .learn-grid-item h2 a:hover {
  text-decoration: none;
}
.learn-index-grid .learn-grid-item .grid-sublist {
  display: none;
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 0;
  list-style-type: none;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.learn-index-grid .learn-grid-item .learn-grid-sublist .learn-sublist-item {
  width: 100%;
  cursor: pointer;
  width: 96%;
  padding: 2%;
}
.learn-index-grid .learn-grid-item .learn-grid-sublist .learn-sublist-item a {
  color: #0088cc;
  text-decoration: none;
  height: 100%;
}
.learn-index-grid .learn-grid-item .learn-grid-sublist .learn-sublist-item a:hover {
  text-decoration: underline;
}
.learn-index-grid .learn-grid-item .learn-grid-sublist .learn-sublist-item:last-child {
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.learn-index-grid .learn-grid-item .learn-grid-sublist .learn-sublist-item:hover {
  background-color: #c8c8c8;
  background-color: rgba(200, 200, 200, 0.3);
  color: #000;
}
.learn-index-grid .learn-grid-item .learn-grid-sublist .learn-sublist-item:hover:last-child {
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.learn-index-grid .learn-grid-item i {
  display: block;
  width: 200px;
  height: 130px;
  margin: 90px auto 0;
  background-position: top center;
  background-repeat: no-repeat;
}
.learn-index-grid .learn-grid-item.grid-item-compute i {
  background-image: url(http://localhost/static/css/../img/gridicons/compute.png);
}
.learn-index-grid .learn-grid-item.grid-item-containers i {
  background-image: url(http://localhost/static/css/../img/gridicons/containers.png);
}
.learn-index-grid .learn-grid-item.grid-item-language i {
  background-image: url(http://localhost/static/css/../img/gridicons/language.png);
}
.learn-index-grid .learn-grid-item.grid-item-robots i {
  background-image: url(http://localhost/static/css/../img/gridicons/robots.png);
}
.learn-index-grid .learn-grid-item.grid-item-accessibility i {
  background-image: url(http://localhost/static/css/../img/gridicons/accessibility.png);
}
.learn-index-grid .learn-grid-item.grid-item-data i {
  background-image: url(http://localhost/static/css/../img/gridicons/data.png);
}
.learn-index-grid .learn-grid-item.grid-item-sound i {
  background-image: url(http://localhost/static/css/../img/gridicons/sound.png);
}
.learn-index-grid .learn-grid-item.grid-item-system i {
  background-image: url(http://localhost/static/css/../img/gridicons/system.png);
}
.learn-index-grid {
  width: 1190px;
  margin: 0 auto;
  list-style-type: none;
  display: block;
  zoom: 1;
}
.learn-index-grid::after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
.learn-index-grid .learn-grid-item-large-spacer {
  width: 282.5px;
  height: 220px;
  float: left;
  margin: 0 7.5px 30px;
}
.learn-index-grid .learn-grid-item-large {
  position: relative;
  width: 282.5px;
  height: 220px;
  float: left;
  margin: 0 7.5px 30px;
  background: #eeeeee;
  opacity: 0.65;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  filter: alpha(opacity=65);
  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
  box-shadow: 0 1px 4px #333333;
  -webkit-box-shadow: 0 1px 4px #333333;
  -moz-box-shadow: 0 1px 4px #333333;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.learn-index-grid .learn-grid-item-large:hover {
  background: #ffffff;
  background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #eeeeee 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #eeeeee 100%);
  background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #eeeeee 100%);
  background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #eeeeee 100%);
  background: radial-gradient(ellipse at center, #ffffff 0%, #eeeeee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=1);
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.learn-index-grid .learn-grid-item-large h2 {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
.learn-index-grid .learn-grid-item-large h2 a {
  color: #333333;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
.learn-index-grid .learn-grid-item-large h2 a:hover {
  text-decoration: none;
}
.learn-index-grid .learn-grid-item-large .grid-sublist {
  display: none;
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 0;
  list-style-type: none;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.learn-index-grid .learn-grid-item-large .learn-grid-sublist .learn-sublist-item-large {
  width: 100%;
  cursor: pointer;
  width: 96%;
  padding: 2%;
}
.learn-index-grid .learn-grid-item-large .learn-grid-sublist .learn-sublist-item-large a {
  color: #0088cc;
  text-decoration: none;
  height: 100%;
}
.learn-index-grid .learn-grid-item-large .learn-grid-sublist .learn-sublist-item-large a:hover {
  text-decoration: underline;
}
.learn-index-grid .learn-grid-item-large .learn-grid-sublist .learn-sublist-item-large:last-child {
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.learn-index-grid .learn-grid-item-large .learn-grid-sublist .learn-sublist-item-large:hover {
  background-color: #c8c8c8;
  background-color: rgba(200, 200, 200, 0.3);
  color: #000;
}
.learn-index-grid .learn-grid-item-large .learn-grid-sublist .learn-sublist-item-large:hover:last-child {
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.learn-index-grid .learn-grid-item-large i {
  display: block;
  width: 200px;
  height: 130px;
  margin: 90px auto 0;
  background-position: top center;
  background-repeat: no-repeat;
}
.grid-item-hour-of-code i {
  background-image: url(http://localhost/static/css/../img/gridicons/compute.png);
}

.search-box-small {
  width: 350px;
  margin: 0 auto;
}
.search-box-small input.search-query {
  height: 30px;
  width: 251px;
  font-size: 12px;
  padding: 0 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.search-box-small button.search-submit.btn {
  height: 30px;
  width: 100px;
  font-size: 14px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.search-box-small .input-append {
  width: 700px;
  margin: 0 auto;
}
.navigation-sidebar {
  float: left;
  width: 350px;
  min-height: 100%;
  margin-left: -100%;
  background: #E4EBF7;
}
h3 {
  margin: 0 0 0 10px;
}
h3 span.index-toggel {
  font-size: 13px;
  font-style: italic;
  font-weight: normal;
  margin: 0 0 0 10px;
}
.content-wrapper {
  width: 100%;
}
.class-content {
  margin-left: 350px;
  margin-right: 30px;
  width: auto;
}
ul {
  font-size: 13px;
  display: block;
  list-style-type: none;
  margin: 0 0 0 25px;
  padding: 0;
}
.ratings-controls {
  display: inline-block;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.05s ease-in;
  -moz-transition: opacity 0.05s ease-in;
  -o-transition: opacity 0.05s ease-in;
  transition: opacity 0.05s ease-in;
  margin: 0 0 0 20px;
  position: relative;
}
.ratings-controls .star-ratings {
  display: inline-block;
  position: relative;
  top: -5px;
  margin: 0;
  padding: 0 5px;
  width: 210px;
  height: 39px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 3px 10px #999999;
  -webkit-box-shadow: 0 3px 10px #999999;
  -moz-box-shadow: 0 3px 10px #999999;
  border: 1px solid #004980;
  background: url(http://localhost/static/css/../img/stars.png) no-repeat center 0;
}
.ratings-controls .star-ratings li {
  display: block;
  float: left;
  width: 40px;
  height: 38px;
  cursor: pointer;
}
.ratings-controls .popover {
  width: 250px;
}
.ratings-controls .open-ratings-tooltip-link {
  font-size: 12px;
  font-weight: 300;
}
.controllable:hover .ratings-controls {
  display: inline-block;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  -webkit-transition: opacity 0.05s ease-in;
  -moz-transition: opacity 0.05s ease-in;
  -o-transition: opacity 0.05s ease-in;
  transition: opacity 0.05s ease-in;
}
.download-links {
  margin: 0;
  list-style-type: none;
  margin: 0 0 20px;
  display: block;
  zoom: 1;
}
.download-links::after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
.download-links li {
  float: left;
  position: relative;
  min-height: 195px;
  width: 385px;
  margin: 0 15px;
  padding-left: 150px;
  border: 1px solid #4d4d4d;
  background-color: #c8c8c8;
  background-color: rgba(200, 200, 200, 0.3);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 140px auto;
  box-shadow: 0px 1px 3px #999999;
  -webkit-box-shadow: 0px 1px 3px #999999;
  -moz-box-shadow: 0px 1px 3px #999999;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  -o-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
.download-links li:hover {
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  -o-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
  box-shadow: 0px 1px 3px #222222;
  -webkit-box-shadow: 0px 1px 3px #222222;
  -moz-box-shadow: 0px 1px 3px #222222;
  background-color: #c3c3c3;
  background-color: rgba(195, 195, 195, 0.3);
}
.download-links li.links-windows {
  background-image: url(http://localhost/static/css/../img/download-windows.png);
}
.download-links li.links-macosx {
  background-image: url(http://localhost/static/css/../img/download-macosx.png);
}
.download-links li a {
  position: absolute;
  left: 0;
  width: 395px;
  height: 150px;
  padding: 45px 0 0 140px;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.download-links li a:hover {
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

/* 
    Document   : style
    Created on : May 23, 2012, 4:18:53 PM
    Author     : astefik
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/


root { 
    display: block;
}

p
{
    text-align:justify;
} 

pre.code {
    background: #f7f7f7;
    border: 1px solid #d7d7d7;
    margin: 1em 1.75em;
    padding: .25em;
    overflow: auto;
}

div.action {
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-color:#A2B5CD;
    border-width:1px;
}

h1.page_title {
    text-decoration:underline;
}

h2.action_or_variables_header {
    
}

h3.action_title {
    border-top: solid;
    border-bottom: solid;
    border-color:#A2B5CD;
    border-width:1px;
    font-size:120%;
    color: white;
    background-color: #A2B5CD;
    padding-top: 4px;
    padding-left: 2px;
}

div.index_package {
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-color:#A2B5CD;
    border-width:1px;
}

ul.quorum_header {
    list-style-type:none;
    margin:0;
    padding:0;
}

li.quorum_header_start {
    display:inline;
    margin: 0;
}

li.quorum_header {
    display:inline;
    margin: 1em;
    text-decoration:underline;
}

a.quorum_header {
    color: white;
    text-decoration:none;
}

div.quorum_header {
    background-color: #6E7B8B;
    margin-left: -0.5em;
    margin-top: -0.5em;
    padding-left:0.5em;
    text-decoration:none;
    color: white;
    font-family: fantasy;
    font-size: 1.5em;
    width:100%;
    height:1.4em;
    overflow:hidden;
}

li.package_standard {
    padding-top: 1px;
    padding-bottom: 1px;
}

li.package_alternate {
    background: #F5F5F5;
    padding-top: 1px;
    padding-bottom: 1px;
}

ul.packages {
    list-style-type: none;
    font-size:100%;
    margin: 0px;
    padding: 0px;
    padding-left: 6px;
}

ul.variables {
    list-style-type: none;
    font-size:100%;
    margin: 0px;
    padding: 0px;
    padding-left: 6px;
    border: solid;
    border-color:#A2B5CD;
    border-width:1px;
}

ul.parent_variables {
    list-style-type: none;
    font-size:100%;
    margin: 0px;
    padding: 0px;
    padding-left: 6px;
    border: solid;
    border-color:#A2B5CD;
    border-width:1px;
}

ul.parameters {
    list-style-type: none;
    font-size:100%;
    padding-top: 0px;
    margin-top: 0px;
}

h2.index_package_title {
    border-top: solid;
    border-bottom: solid;
    border-color:#A2B5CD;
    border-width:1px;
    font-size:120%;
    color: white;
    background-color: #A2B5CD;
    padding-top: 4px;
    padding-left: 2px;
}
table
{
border-collapse:collapse;
}
table,th, td
{
border: 1px solid black;
}

#footer {
}
*/