.control-panel-container { } // leave this because something is weird with the compiler

.control-panel-container { margin-top: 75px; 
    input, select, button { width: 400px; }
	legend { margin: 0; font-weight: bold; }
	label { font-weight: bold; }
	input { height: 35px; padding: 0 5px; }
}

.admin-dropdown-tabs { margin-bottom: 0; }

.admin-controls { min-height: 450px;
	select, input { display: block; margin: 0 20px 10px; }
	.well { width: 400px; 
		select, input { margin: 0 0 10px; }
	}
	.admin-dropdown-container { display: none; background: #E9E9E9; margin-bottom: 20px; padding: 10px 0; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; 
		select, input { margin: 0 auto;} 
	}
}

.badges-list { margin-bottom: 20px;
	.quorum-badge { display: inline-block; height: 64px; width: 64px; position: relative;
		img { height: 100%; width: 100%; }
		span.title { z-index: 9999; display: none; position: absolute; top: 60px; left: -50px; width: 150px; text-align: center; padding: 5px; color: @white1; background: @gray2; font-size: 12px; }
		&:hover span.title { display: block; }
	}
}