#library-submission-wizard-container { margin-top: 95px; 
    h1 {}
    .errors { margin: 20px auto; position: relative; left: 20px; list-style-type: disc; 
        li { font-size: 18px; font-weight: bold; letter-spacing: 1px; margin-bottom: 10px; }
    }
}

#submission-wizard {  font-size: 14px;
    h2 { margin-top: 0; }
    h3 { color: @blue2; margin: 0 0 10px; }
    ul { margin-bottom: 15px;
        li { font-size: 14px; }
    }
    p { font-size: 16px; line-height: 150%; }
    .actions { margin-top: 20px; padding: 15px; background: @gray1; border: 1px solid @gray3; 
        .checkbox { position: relative; left: -30px; top: 6px; }
    }
    .item .container { padding: 20px; background: @white1; border: 1px solid @gray1; .rounded-corners(); }
    .control-group { width: 600px; margin: 10px auto 20px;
        input { font-size: 14px; height: 30px; width: 400px; }
        textarea { font-size: 14px; min-height: 200px; width: 400px; }
    }
}
