/*Hour of Code additions*/

#sidebar-navigation {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 20%;
    background-color: rgba(255,255,255,.75);
    border: solid 1px lightgrey;
}

#sidebar-navigation ul {
    margin-left: 0px;
}

.sidebar-link {
    display: block;
    height: 20px;
    vertical-align: middle;
    padding: 10px 0 10px 20px;
}

#sidebar-navigation a {
    outline: 0;
    transition: none;
}

#sidebar-navigation a:hover {
    text-decoration: none;
    color: white;
}

#sidebar-navigation a:visited {
}

#sidebar-navigation li:hover {
    background-color: #049CDB !important;
    color: white !important;
}



#video-container {
    display: inline-block;
    vertical-align: top;
    width: 468px;
    box-sizing: border-box;
    margin-left: 4px;
}



#hour-of-code-IDE {
    width:40%;
    height:351px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    border: solid 1px lightgrey;
    background: #EEEEEE;
    margin-left: 4px;
    overflow: hidden;
}

#hour-of-code-IDE h2 {
    margin: 0;
    background: #0088cc;
    padding: 5px 10px;
    color: #EEEEEE;
    text-shadow: 1px 1px 1px darken(#0088cc, 30%);
}

span.hour-of-code-IDE-subtitle {
    vertical-align: middle;
    font-size: 14px;
    font-weight: 300;
    color: #FFFFFF;
    display: inline-block;
    line-height: 20px;
    margin: 0;
    padding-bottom: 6px;
    position: relative;
    top: 2px;
    text-shadow: 0 0 0;
}

#hour-of-code-IDE-input {
    display: block;
    width: 100%;
    min-height:210px;
    resize:none;
    font-family: Menlo, monospace;
    text-align: left;
    overflow: scroll;
    overflow-y: scroll; 
    overflow-x: hidden;	
    overflow:-moz-scrollbars-vertical;
    border-radius: 0;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px lightgrey;
    margin: 0;
    padding-bottom: 10px;
}

#hour-of-code-IDE-output {
    display: inline-block;
    box-sizing: border-box;
    width: 88%;
    vertical-align: top;
    height: 89px;
    text-align: left;
    overflow: scroll;
    overflow-x: scroll; 
    overflow-y: scroll;	
    -ms-overflow-x: scroll;
    -ms-overflow-y: scroll;
    overflow:-moz-scrollbars-horizontal;
    overflow:-moz-scrollbars-vertical;
    border-radius: 0;
    border: none;
    margin: 0;
    padding: 4px 0px 4px 6px;
}

#run-button {
    display: inline-block;
    box-sizing: border-box;
    height: 89px;
    width: 12%;
    vertical-align: top;
    padding-top: 4px;
    background-color: #F5F5F5;
}

#run-button a {
    outline: none;
}

#hour-of-code-canvas {
    display: block;
    vertical-align: top;
    box-sizing: border-box;
    min-height: 351px;
    width: 949px;
    margin-left:241px;
    margin-top: 4px;
    background-color: rgba(255,255,255,.75);
    border: solid 1px lightgrey;
    margin-bottom: 10px;
}