/*Evan's' additions (mostly Hour of Code related)*/

.brand img {
    vertical-align: top;
}

.bold {
    font-weight: bold;
}

#sidebar-navigation {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 20%;
    background-color: rgba(255,255,255,.75);
    border: solid 1px lightgrey;
}

#sidebar-navigation ul {
    margin-left: 0px;
}

.sidebar-link {
    display: block;
    height: 20px;
    vertical-align: middle;
    padding: 10px 0 10px 20px;
}

#sidebar-navigation a {
    outline: 0;
    transition: none;
}

#sidebar-navigation a:hover {
    text-decoration: none;
    color: white;
}

#sidebar-navigation li:hover {
    background-color: #049CDB !important;
    color: white !important;
}

#content-box {
    position: relative;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    height: 370px;
    width: 39.5%;
    margin-left: 0.5%;
    background-color: rgba(255,255,255,.75);
    border: solid 1px lightgrey;
}

#slide-navigation {
    display: block;
    background: none repeat scroll 0 0 #0088CC;
    color: #EEEEEE;
    margin: 0;
    padding: 10px;
    height: 20px;
}

#slide-navigation p {
    float: right;
    color: #eeeeee;
    font-size: 20px;
    text-shadow: 1px 1px 1px #002233;
}

.slide-navigation-button {
    display: inline-block;
    vertical-align: top;
    border: solid 1px lightgrey;
    padding: 0px 6px;
    margin-right: 4px;
    background-color: #0088CC;
    color: white;
    outline: none;
}

.slide-navigation-button:hover {
    background-color: white;
    color: rgb(4, 156, 219);
    cursor: pointer;
}

.active-slide-navigation-button {
    background-color: rgb(235, 235, 235);
    color: rgb(4, 156, 219);
}

#leftArrow {
    position: absolute;
    left: 5px;
    top: 50%;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(255,255,255,0);
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid #0088CC;
    cursor: pointer;
    opacity: 0.5;
    box-shadow: none;
    border-left: none;
    outline: none;
}

#leftArrow:hover {
  opacity: 1;
  -webkit-transition: opacity .25s linear;
  -moz-transition: opacity 0.25s linear;
  -ms-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}

#leftArrow:hover {
    opacity: 1;
}

#rightArrow {
    position: absolute;
    right: 5px;
    top: 50%;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(255,255,255,0);
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid #0088CC;
    cursor: pointer;
    opacity: 0.5;
    border-right: none;
    outline: none;
}

#rightArrow:hover {
  opacity: 1;
  -webkit-transition: opacity .25s linear;
  -moz-transition: opacity 0.25s linear;
  -ms-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}

#slide-box {
    padding: 0 30px 10px;
}



#video-container {
    display: block;
    vertical-align: top;
    box-sizing: border-box;
    min-height: 351px;
    width: 946px;
    margin-left:244px;
    margin-top: 4px;
    background-color: rgba(255,255,255,.75);
    margin-bottom: 10px;
}

.leftArrow-disabled {
    border-right: 25px solid #BBB !important;
}

.leftArrow-disabled:hover {
    border-right: 25px solid #BBB !important;
    opacity: .5 !important;
    cursor: default !important;
}

.rightArrow-disabled {
    border-left: 25px solid #BBB !important;
}

.rightArrow-disabled:hover {
    border-left: 25px solid #BBB !important;
    opacity: .5 !important;
    cursor: default !important;
}

.front-page-grid-item {
    background: none repeat scroll 0 0 #eeeeee;
    border-radius: 0 !important;
    box-shadow: 0 1px 4px #333333;
    cursor: pointer;
    float: left;
    height: 220px;
    margin: 10px 0 !important;
    opacity: 0.65;
    position: relative !important;
    transition: background 0.2s ease-in 0s;
    width: 100% !important;
}

.front-page-grid-item i {
    margin: 0 auto !important;
}

.front-page-grid-item a {
    text-decoration: none;
    color: #333;
}

.front-page-grid-item a:hover {
    color: #333;
}

//syntax page



//IDE

.full-page-height {
    height: 100%;
}

#IDE {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    border: solid 1px lightgrey;
    background: #EEEEEE;
    overflow: hidden;
    position: relative;
}

.small-IDE {
    width:39.5%;
    height:370px;
    margin-left: 0.5%;
}

.full-page-IDE {
    width: 100%;
    height: 100%;
}

#IDE h2 {
    margin: 0;
    background: #0088cc;
    padding: 5px 10px;
    color: #EEEEEE;
    text-shadow: 1px 1px 1px darken(#0088cc, 30%);
}

.full-screen-IDE-h2 {
    font-size: 48px;
    line-height: 54px;
}

.full-page-IDE-subtitle {
    font-size: 20px !important;
    line-height: 24px !important;
    padding-top: 6px;
}

.IDE-subtitle {
    vertical-align: top;
    font-size: 14px;
    font-weight: 300;
    color: #FFFFFF;
    display: inline-block;
    line-height: 20px;
    margin: 0;
    position: relative;
    top: 10px;
    text-shadow: 0 0 0;
}

.small-IDE-subtitle {
    position: initial;
}

#IDE-input {
    display: block;
    position: relative;
    resize:none;
    font-family: Menlo, monospace;
    text-align: left;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;	
    overflow:-moz-scrollbars-vertical;
    border-radius: 0;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px lightgrey;
    margin: 0;
    padding-bottom: 0;
    overflow: auto;
}

.full-page-IDE-input {
    width: 100%;
    height: 70%;
    font-size: 36px;
    line-height: 44px;
}

.small-IDE-input {
    width: 100%;
    min-height:203px;
}

#IDE-output-container {
    position: relative;
}

#IDE-output {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    text-align: left;
    overflow: scroll;
    overflow-x: scroll; 
    overflow-y: scroll;	
    -ms-overflow-x: scroll;
    -ms-overflow-y: scroll;
    overflow:-moz-scrollbars-horizontal;
    overflow:-moz-scrollbars-vertical;
    border-radius: 0;
    border: none;
    margin: 0;
    padding: 4px 0px 4px 6px;
    overflow: auto;
}

.small-IDE-output {
    height: 100px;
    width: 100%;
}

.full-page-IDE-output {
    width: 100%;
    height: 25%;
    font-size: 36px;
    line-height: 44px;
}

#run-button {
    position: absolute;
    top: 4px;
    right: 4px;
    box-sizing: border-box;
    vertical-align: top;
    background-color: #F5F5F5;
}

#run-button a {
    outline: none;
}

.full-page-IDE-run-button {
    height: 70px !important;
    font-size: 80px !important;
    padding-top: 40px;
}

.floating {
    float: right;
}

#buttonGroup {
    position: absolute;
    top: 8px;
    right: 8px;
}

#buttonGroup select:focus {
    outline: none !important;
}

#buttonGroup option:active {
    outline: none;
}

.hero-unit-container p {
    display: inline-block;
    vertical-align: top;
}

#facebook-links {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}

#homePageContent {
    display: inline-block;
    max-width: 700px;
}