/*Evan's additions (mostly Hour of Code and accessibility related)*/

#overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    min-width: 1190px;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index:1001;
/*    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);*/
}

#overlay-content-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

#overlay-content {
    /*display: none;*/
    opacity: .95;
    position: absolute;
    top: 23%; /* lazy mode */
    left: 40%;
    width: 357px; /* 30% */
    padding: 16px;
    border: 4px solid #0694d0;
    background-color: white;
    z-index:1002;
    overflow: auto;
    text-align: center;
    padding: 10px;
}

.overlay-text {
    color: #0694d0;
    margin: 15px 0 0 0;
}

.overlay-text:first-child {
    margin: 0;
}

.overlay-option {
    box-sizing: border-box;
    display: block;
    background-color: #0694d0;
    color: white;
    width: 80%;
    margin: 4px auto;
    padding: 10px 0;
    border: none;
    opacity: .8;
}

.overlay-option:hover {
    text-decoration: none;
    color: white;
    transition-duration: .2s;
    opacity: 1;
}

#HOC-banner {
    position: relative;
    /*width: 100%;*/
    width: 698px;
    opacity: 0.65;
    margin: 10px 0 0 0;
    /*box-shadow: 0 1px 4px #333333;*/
    box-shadow: 0 1px 4px #333333;
    border-radius: 12px;
    background: none repeat scroll 0 0 #eeeeee;
    text-align: center;
    transition-timing-function: ease-in;
}

#HOC-banner:hover {
    transition-duration: .2s;
    opacity: 1;
}

#HOC-banner-a {
    display: inline-block;
    height: 220px;
    width: 100%;
    color: #333333;
    text-decoration: none;
}

#HOC-banner img {
    margin-top: 10px;
    margin-bottom: -10px;
}

h4.sub-heading {
    color: #deedee;
    text-shadow: 1px 1px 10px #025577;
    font-weight: 200;
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    margin-top: 0;
}

#pageTitle {
    display: block;
    font-size: 60px;
    /*line-height: 60px;*/
    margin-top: 10px;
    letter-spacing: -2;
    
    color: #eeeeee;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 15px;
    text-shadow: 2px 2px 0 #036690;
}

#facebook-iframe {
    border: none;
    visibility: visible;
    width: 450px;
    height: 25px;
}

#facebook-links {
    vertical-align: bottom;
    width: 450px;
    height: 25px;
}

.screenReaderContent {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

nav li a {
    font-size: 13px;
}

.search-box-small input.search-query {
  width: 210px !important;
}

.tileContainer {
    display: block;
    width: 100%;
}

.tileContainer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.tileContainer li {
    display: inline-block;
    position: relative;
}

.tile {
    position: relative;
    display: inline-block;
    width: 173px;
    height: 150px;
    margin: 2px 2px 0 0;
    padding: 16px 8px;
    background-color: rgba(6, 148, 208, .8);
    color: #eee;
    border: none;
    box-sizing: border-box;
    text-align: center;
    vertical-align: top;
    font-size: 2em;
    line-height: 1.25em;
    /*text-shadow: 1px 1px 1px #022a3b;*/
    box-shadow: 0 2px 5px #999999;
    border-radius: 12px;
    transition-timing-function: ease-in;
}

.tile:hover {
    transition-duration: .2s;
    background-color: rgba(6, 148, 208, 1);
    color: #eee;
    text-decoration: none;
}

.comboTile {
    font-size: 3em;
    line-height: 1em;
    padding: 16px 8px;
}

.underline {
    border-bottom: solid 1px #0694d0;
}

.code {
    color: #d14;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    font-size: 12px;
    padding: 2px 4px;
    margin: 0 4px;
}

.brand img {
    vertical-align: top;
    padding-right: 12px;
}

.title {
    font-weight: bold;
    display: block;
    margin-top: 1.25em;
    display: block;
    color: #0694d0;
}

.bold {
    font-weight: bold;
}

.task {
    border: solid 2px #0694d0;
    margin-right: 20px;
    padding: 10px;
}

.task p {
    padding: 0;
    margin: 0;
}

#slide-box-wrapper li {
    margin-right: 20px;
}

#sidebar {
    width: 20%;
    display: inline-block;
}

#finish {
    outline: 0;
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;
    background-color: rgba(255,255,255,.75);
    border: solid 1px lightgrey;
    vertical-align: middle;
    padding: 10px 0 10px 0;
    text-align: center;
}

#finish img {
    display: block;
    height: 128px;
    width: 128px;
    margin: 5px auto;
}

#finish:hover {
    text-decoration: none;
    border: solid 1px #0694d0;
    color: #0694d0;
}

#sidebar-navigation {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(255,255,255,.75);
    border: solid 1px lightgrey;
}

#sidebar-navigation ul {
    margin-left: 0px;
}

.sidebar-link {
    display: block;
    height: 20px;
    vertical-align: middle;
    padding: 10px 0 10px 20px;
}

#sidebar-navigation a {
    outline: 0;
    transition: none;
}

#sidebar-navigation a:hover {
    text-decoration: none;
    color: white;
}

#sidebar-navigation li:hover {
    background-color: #0694d0 !important;
    color: white !important;
}

#content-box {
    display: inline-block;
    width: 80%;
    vertical-align: top;
}

#slide-content-box {
    position: relative;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    height: 370px;
    width: 49.5%;
    margin-left: 0.5%;
    background-color: rgba(255,255,255,.75);
    border: solid 1px lightgrey;
}

#slide-navigation {
    display: block;
    background: none repeat scroll 0 0 #0694d0;
    color: #EEEEEE;
    margin: 0;
    padding: 10px;
    height: 20px;
}

#slide-navigation p {
    float: right;
    color: #eeeeee;
    font-size: 20px;
    text-shadow: 1px 1px 1px #002233;
}

.slide-navigation-button {
    display: inline-block;
    vertical-align: top;
    border: solid 1px lightgrey;
    padding: 0px 6px;
    margin-right: 4px;
    background-color: #0694d0;
    color: white;
    outline: none;
}

.slide-navigation-button:hover {
    background-color: white;
    color: rgb(4, 156, 219);
    cursor: pointer;
}

.active-slide-navigation-button {
    background-color: rgb(235, 235, 235);
    color: rgb(4, 156, 219);
}

#leftArrow {
    position: absolute;
    left: 5px;
    top: 50%;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(255,255,255,0);
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid #0694d0;
    cursor: pointer;
    opacity: 0.5;
    box-shadow: none;
    border-left: none;
    outline: none;
}

#leftArrow:hover {
  opacity: 1;
  -webkit-transition: opacity .25s linear;
  -moz-transition: opacity 0.25s linear;
  -ms-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}

#leftArrow:hover {
    opacity: 1;
}

#rightArrow {
    position: absolute;
    right: 5px;
    top: 50%;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(255,255,255,0);
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid #0694d0;
    cursor: pointer;
    opacity: 0.5;
    border-right: none;
    outline: none;
}

#rightArrow:hover {
  opacity: 1;
  -webkit-transition: opacity .25s linear;
  -moz-transition: opacity 0.25s linear;
  -ms-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}

#slide-box {
    padding: 0 30px 10px;
}



#video-container {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    min-height: 351px;
    width: 946px;
    margin-left: .5%;
    margin-top: 4px;
    background-color: rgba(255,255,255,.75);
    margin-bottom: 10px;
}

.leftArrow-disabled {
    border-right: 25px solid #BBB !important;
}

.leftArrow-disabled:hover {
    border-right: 25px solid #BBB !important;
    opacity: .5 !important;
    cursor: default !important;
}

.rightArrow-disabled {
    border-left: 25px solid #BBB !important;
}

.rightArrow-disabled:hover {
    border-left: 25px solid #BBB !important;
    opacity: .5 !important;
    cursor: default !important;
}



//syntax page



//IDE

.full-page-height {
    height: 100%;
}

#IDE {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    border: solid 1px lightgrey;
    background: #EEEEEE;
    overflow: hidden;
    position: relative;
    
}

.front-page-IDE {
    float: right;
    width:40%;
    height:535px;
    margin-left: 0.5%;
}

.front-page-IDE button {
    top: 425px !important;
}

#front-page-IDE-input {
    display: block;
    position: relative;
    resize:none;
    font-family: Menlo, monospace;
    text-align: left;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;	
    overflow:-moz-scrollbars-vertical;
    border-radius: 0;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px lightgrey;
    margin: 0;
    padding-bottom: 0;
    overflow: auto;
    width: 100%;
    min-height:350px;
}

.front-page-IDE-output {
    height: 122px;
    width: 100%;
}

.small-IDE {
    width:49.5%;
    height:370px;
    margin-left: 0.5%;
}

.full-page-IDE {
    width: 100%;
    height: 100%;
}

#IDE h1 {
    font-size: 32px;
    margin: 0;
    background: #0694d0;
    padding: 5px 10px;
    color: #EEEEEE;
    text-shadow: 1px 1px 1px darken(#0694d0, 30%);
}

.full-screen-IDE-h1 {
    font-size: 48px;
    line-height: 54px;
}

.full-page-IDE-subtitle {
    font-size: 20px !important;
    line-height: 24px !important;
    padding-top: 6px;
}

.IDE-subtitle {
    vertical-align: top;
    font-size: 14px;
    font-weight: 300;
    color: #FFFFFF;
    display: inline-block;
    line-height: 20px;
    margin: 0;
    padding-left: 10px; 
    text-shadow: 0 0 0;
    background-color: #0694d0;
    width: 100%;
    padding-bottom: 4px;
    margin-top: -4px;
}

.small-IDE-subtitle {
    position: initial;
}

#IDE-input {
    display: block;
    position: relative;
    resize:none;
    font-family: Menlo, monospace;
    text-align: left;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;	
    overflow:-moz-scrollbars-vertical;
    border-radius: 0;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px lightgrey;
    margin: 0;
    padding-bottom: 0;
    overflow: auto;
}

.full-page-IDE-input {
    width: 100%;
    height: 70%;
    font-size: 36px;
    line-height: 44px;
}

.small-IDE-input {
    width: 100%;
    min-height:203px;
}

#IDE-output-container {
    position: relative;
}

#IDE-output {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    text-align: left;
    overflow: scroll;
    overflow-x: scroll; 
    overflow-y: scroll;	
    -ms-overflow-x: scroll;
    -ms-overflow-y: scroll;
    overflow:-moz-scrollbars-horizontal;
    overflow:-moz-scrollbars-vertical;
    border-radius: 0;
    border: none;
    margin: 0;
    padding: 4px 0px 4px 6px;
    overflow: auto;
    padding-right: 64px;
}

.small-IDE-output {
    height: 100px;
    width: 100%;
}

.full-page-IDE-output {
    width: 100%;
    height: 25%;
    font-size: 36px;
    line-height: 44px;
}

#run-button {
    position: absolute;
    top: 280px;
    right: 4px;
    box-sizing: border-box;
    vertical-align: top;
    /*background-color: #F5F5F5;*/
    z-index: 1;
    outline: none;
}

.full-page-IDE-run-button {
    height: 70px !important;
    font-size: 80px !important;
    padding-top: 40px;
}

.floating {
    float: right;
}

#developerTable {
    width: 100%;
    border-collapse: collapse;
}

#developerTable td, #developerTable th {
    font-size: 1em;
    border: 1px solid #048AC2;
    padding: 3px 7px 2px 7px;
}

#developerTable th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #048AC2;
    color: #ffffff;
}

#developerTable tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}

#buttonGroup {
    position: absolute;
    top: 8px;
    right: 8px;
}

#buttonGroup select:focus {
    outline: none !important;
}

#buttonGroup option:active {
    outline: none;
}

.hero-unit-container p {
    display: inline-block;
    vertical-align: top;
}

#facebook-links {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}

#homePageContent {
    display: inline-block;
    width: 700px;
}